.vscode/**
.vscode-test/**
.github/**
.agent/**
.claude/**
src/**
out/**
scripts/**
node_modules/**
reports/**
coverage/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
CLAUDE.md
esbuild.mjs
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
